body {
  background-color: #F2F2F2;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

.keyboard {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.white-key {
  width: 50px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  margin-right: 0px;
}

.black-key {
  width: 30px;
  height: 116px;
  background-color: black;
  border: 1px solid black;
  position: relative;
  top: 0px;
  margin-right: -15px;
}

#C-sharp, #D-sharp, #F-sharp, #G-sharp, #A-sharp {
  margin-left: -17px;
}

.white-key.selected {
  background-color: #ffA;
}

.black-key.selected {
  background-color: #ee0;
}

.scale-name {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
